<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

        <h1>Welcome to Kira motors</h1>
        <nav>
            <ul>
                <li><a href="/register.html">Register</a></li>
                <li><a href="/login.html">Login</a></li>
                <li> <a href="/cart">View Cart</a></li>
            </ul>
        </nav> 

    <center><h1>Kira Motors Shop</h1></center>

    <% for (const product of products) { %>
        <div class="product">
            <% if (product.imageUrl) { %>
                <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
            <% } %>
            <h3><%= product.name %></h3>
            <p>$<%= product.price %></p>
            <form action="/add-to-cart" method="POST">
                <input type="hidden" name="productId" value="<%= product.id %>">
                <label for="quantity-<%= product.id %>">Quantity:</label>
                <input type="number" id="quantity-<%= product.id %>" name="quantity" value="1" min="1">
                <button type="submit">Add to Cart</button>
            </form>
        </div>
    <% } %>
    <br>
   
</body>
</html>
